 /* label color */

 .input-field label {
     color: rgb(255, 255, 255) !important;
 }

 /* label focus color */

 .input-field input[type=password]:focus+label {
     color: rgb(255, 251, 251) !important;
 }

 /* label underline focus color */

 .input-field input[type=password]:focus {
     border-bottom: 1px solid rgb(252, 250, 250) !important;
     box-shadow: 0 1px 0 0 rgb(248, 245, 245) !important;
 }

 /* valid color */

 .input-field input[type=password].valid {
     border-bottom: 1px solid rgb(247, 241, 241) !important;
     box-shadow: 0 1px 0 0 rgb(252, 249, 249) !important;
 }

 /* invalid color */

 .input-field input[type=password].invalid {
     border-bottom: 1px solid rgb(250, 246, 246) !important;
     box-shadow: 0 1px 0 0 rgb(248, 245, 245) !important;
 }

 /* icon prefix focus color */

 .input-field .prefix.active {
     color: rgb(252, 247, 247) !important;
 }

 form {
     margin-bottom: -8% !important;
 }

 .card {
     border-radius: 42px !important;
 }

 .row {
     padding: 1%;
     margin-left: 0;
     margin-right: 0;
     margin-bottom: 0;
 }

 .col .row {
     margin-left: 0;
     margin-right: 0;
 }

 nav {
     background-color: #26a69a;
 }

 table {
     margin-top: 1.5%;
 }

 thead th {
     color: #26a69a;
 }

 .btn {
     border-radius: 20px;
 }

 .color-green {
     background-color: #26a69a;
 }

 input[type=password] {
     border-bottom: none !important;
     box-shadow: none !important;
 }

 input[type=number] {
     border-bottom: none !important;
     box-shadow: none !important;
 }

 /* select {
     border-bottom: none !important;
     box-shadow: none !important;
 } */

 .select-wrapper input.select-dropdown {
     border-bottom: none !important;
     box-shadow: none !important;
 }

 /* li{
    margin-right: 1%;
} */

 .navbar.nav-lower {
     background: #eee;
     margin-top: -20px;
     border-radius: 0;
     border: none;
     text-align: center;
 }

 .navbar.nav-lower .navbar-nav {
     float: none;
 }

 .navbar.nav-lower .navbar-nav>li {
     display: inline-block;
     float: none;
     margin: 0 -5px;
     vertical-align: middle;
 }

 .navbar.nav-lower .navbar-toggle, .navbar.nav-lower .navbar-toggle:hover, .navbar.nav-lower .navbar-toggle:focus {
     border: none;
     background: none;
 }

 @media (min-width: 768px) {
     .navbar.nav-lower {
         background: none;
     }
     .navbar.nav-lower .navbrand-hidden {
         display: none;
     }
 }

 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
     /* display: none; <- Crashes Chrome on hover */
     -webkit-appearance: none;
     margin: 0;
     /* <-- Apparently some margin are still there even though it's hidden */
 }

 input[type=number] {
     -moz-appearance: textfield;
     /* Firefox */
 }

 /* .margin{
     margin: -5% !important;
 } */

 /**Use This rule to Display the Links as Block**/

 /*@media (max-width: 767px) {
      .navbar.nav-lower .navbar-nav > li {
          display: block;
          text-align: left;
          width: 100%;
      }
  }*/

 .caret {
     right: 30% !important;
 }

 .menu {
     float: right !important;
     /* margin-top: 13px !important; */
     /* background-color: #E57373; */
     margin-right: 1% !important;
 }

 /* body { */

 /* margin: 10px; */

 /* padding-top: 65px; */

 /* } */

 .min-content {
     max-width: fit-content !important;
 }

 .table td, .table th {
     padding: .20rem !important;
 }

 .m-bottom {
     margin-bottom: 0 !important;
 }

 .r {
     max-width: 100%;
     padding: .5rem;
 }

 #contentContainer {
     position: relative;
     left: 100px;
     width: 500px;
     height: 300px;
     border: 1px black solid;
     overflow: hidden;
     background-color: #EEE;
     cursor: pointer;
 }

 #thing {
     position: relative;
     width: 40px;
     height: 40px;
     left: 50px;
     top: 50px;
     background-color: red;
     transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25), top .5s cubic-bezier(.42, -0.3, .78, 1.25);
 }

 .tab-item-content {
     margin: 1px !important;
 }

 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     color: #fff;
     background: linear-gradient(to right, #8e2de2, #4a00e0);
     color: #fff;
     border-radius: .25rem;
     ;
 }

 .nav-pills .nav-link {
     color: #fff;
     /* background: linear-gradient(to right, #8e2de2, #4a00e0); color: #fff; border-radius: .25rem;; */
 }

 .table tr td {
     /* padding: .20rem !important; */
     color: #fff;
 }

 .tab-container ul {
     margin: .0rem;
     flex-grow: 0;
 }

 select {
     color: white;
 }

 option {
     color: black;
 }

 /* #contentContainer {
    width: 550px;
    height: 350px;
    border: 5px black solid;
    overflow: hidden;
    background-color: #F2F2F2;
    cursor: pointer; */

 /* } */

 #thing {
     position: relative;
     /* left: 50px;
    top: 50px; */
     /* transition: left .5s ease-in, top .5s ease-in; */
 }

 td {
     vertical-align: middle !important;
 }

 /* .header .nav-btn {
     display: flex;
 } */